<div id="home">

    <h2>I want to install Monitor.</h2>

<form ACTION = "${requestUrl}" METHOD="POST" >
	<input type="hidden" name="userId" value="${params.userId}">
	<input type="hidden" name="appId" value="${appId}">
	<input type="hidden" name="config" value='<?xml version="1.0" encoding="UTF-8"?>
		<Application>
		<Name>FakeIFTTT</Name>
		<Listeners>
			<HttpListener>
					<URL>http://localhost:8080/FakeIFTTT/Listener</URL>
					<MatchRule type="urlregex">
						.*/signal/getPicture.*
					</MatchRule>
			</HttpListener>
		</Listeners>
	</Application>'>
	<input type="hidden" name="requestUrl" value="${requestUrl}">
	<input type="submit" id="ok" value="OK">
</form>
</div>